.admin
  =link_to "All Works", "/admin"
  %h1= @work.name
  =form_for @work do |f|
    %table
      %tbody
        %tr
          %td Name
          %td= f.text_field :name
        %tr
          %td Description
          %td= f.text_area :description
        %tr
          %td Image
          %td
            = image_tag @work.thumbnail.url(:small)
            = f.file_field :thumbnail
        %tr
          %td Type
          %td= f.select :type_id, options_from_collection_for_select(@types, :id, :name, @work.type.id), {:include_blank => true}
        %tr
          %td Domain
          %td= f.select :domain_id, options_from_collection_for_select(@domains, :id, :name, @work.domain.id), {:include_blank => true}
        %tr
          %td Time Period
          %td= f.select :time_period_id, options_from_collection_for_select(@time_periods, :id, :name, @work.time_period.id), {:include_blank => true}
    =f.submit    