.admin
  =link_to "Works Index", "/admin"
  =link_to "Types", "/admin/types"
  =link_to "Domains", "/admin/domains"
  =link_to "Time Periods", "/admin/time_periods"
  %h1 Works
  =link_to "New Work", "/works/new"
  %table
    %tbody
      %tr
        %th
        %th Name
        %th Description
        %th Type
        %th Domain
        %th Time Period
        %th Images
        %th
      -@works.each do |work|
        %tr
          %td= image_tag work.thumbnail.url(:small)
          %td= work.name
          %td= work.description
          %td= work.type ? work.type.name : "Unfound Type"
          %td= work.domain ? work.domain.name : "Unknown Domain"
          %td= work.time_period ? work.time_period.name : "Unknown Time Period"
          %td= link_to "#{work.images.count} Images", "/works/#{work.id}/edit/images"
          %td= link_to 'Edit', "/works/#{work.id}/edit"
          