<div class="cover"></div>
<div id="popover-work">
  <div class="work-container">
    <table>
      <tr>
        <td class="left"><img class="work-thumb" src="<%= thumbnail %>"/></td>
        <td class="name"><%= name %></td>
      </tr>
      <tr>
        <td class="left">
          <div class="detail"><%= type.name %></div>
          <div class="detail"><%= domain.name %></div>
          <div class="detail"><%= time_period.name %></div>
        </td>
        <td><div class="description"><%= description %></div></td>
      </tr>
    </table>
  </div>
  <div class="work-images"></div>
</div>